<div class="row">
  <div class="large-12 columns">
    <h2>500</h2>
    <p>
      Sorry, that didn't work as expected. You may want to try one of these links:
    </p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/questionnaire">Questionnaire</a></li>
      <li><a href="/resources">Resources</a></li>
      <li><a href="/stories">Stories</a></li>
    </ul>
  </div>
</div>