<div id="category">
    <h2>Bricks</h2>
    <div id="product-nav">
        <ul>
          <li>
            <a href="#nogo">Category</a>
            <ul>
              <li class="active">&rsaquo;<a href="#nogo">Bricks</a></li>
              <li><a href="#nogo">Platforms</a></li>
              <li><a href="#nogo">Figures</a></li>
              <li><a href="#nogo">Vehicle Accessories</a></li>
            </ul>
          </li>
          <li>
            <a href="#nogo">Type</a>
            <ul>
              <li><a href="#nogo">Individual Pieces</a></li>
              <li><a href="#nogo">Sets</a></li>
            </ul>
          </li>
          <li>
            <a href="#nogo">Manufacturer</a>
            <ul>
              <li><a href="#nogo">Lego&reg;</a></li>
              <li><a href="#nogo">MegaBloks&reg;</a></li>
              <li><a href="#nogo">Lincoln Log&reg;</a></li>
            </ul>
          </li>
        
          <li><a href="#nogo">Sales and Deals</a></li>
        </ul>
    </div>
    <div id="category-col">
        <h3>Best Seller</h3>
        <div id="hero" class="clearfix">
            <img src="/images/2x2-tall-hero.png" alt="2x2 Tall brick" />
            <p>
                The 2x2 tall brick comes in numerous colors. Its size makes it a versatile piece to complete
                any model or collection. 
                <br />
                <% if request.params["r"] && request.params["l"] == "3" %>
                    <a href="#nogo" class="button" id="location-3">Best Sellers</a>
                <% else %>
                    <a href="#nogo" class="button" id="location-3">Shop 2x2 Tall</a>
                <% end %>
            </p>
        </div>

        <h3>Popular</h3>
        <div id="popular-categories" class="categories row">
            <div class="col">
                <div id="location-4" class="nav-block">
                    <h4>2x4 Short</h4>
                    <% if request.params["r"] && request.params["l"] == "4" %>
                        <img src="/images/2x4-short-red.png" alt="2x4 Short bricks" />
                    <% else %>
                        <img src="/images/2x4-short.png" alt="2x4 Short bricks" />
                    <% end %>
                    <a href="#nogo" class="button">View 2x4 Short</a>
                </div>
            </div>
            <div class="col">
                <div class="nav-block">
                    <h4>1x4 Tall</h4>
                    <% if request.params["r"] && request.params["l"] == "5" %>
                        <img id="location-5" src="/images/1x4-tall-flipped.png" alt="1x4 Tall bricks" />
                    <% else %>
                        <img id="location-5" src="/images/1x4-tall.png" alt="1x4 Tall bricks" />
                    <% end %>
                    <a href="#nogo" class="button">View 1x4 Tall</a>
                </div>
            </div>  
            <div class="col">
                <div class="nav-block">
                    <h4>2x4 Tall</h4>
                    <img src="/images/2x4-tall.png" alt="2x4 Tall bricks" />
                    <a href="#nogo" class="button">View 2x4 Tall</a>
                </div>
            </div>      
        </div>
    </div>
</div>