<div id="category">
    <h2>Bricks</h2>
    <div id="product-nav">
        <ul>
          <li>
            <a href="#nogo">Category</a>
            <ul>
              <li><a href="#nogo">Bricks</a></li>
              <li><a href="#nogo">Platforms</a></li>
              <li><a href="#nogo">Figures</a></li>
              <li><a href="#nogo">Vehicle Accessories</a></li>
            </ul>
          </li>
          <li>
            <a href="#nogo">Type</a>
            <ul>
              <li><a href="#nogo">Individual Pieces</a></li>
              <li><a href="#nogo">Sets</a></li>
            </ul>
          </li>
          <li>
            <a href="#nogo">Manufacturer</a>
            <ul>
              <li><a href="#nogo">Lego&reg;</a></li>
              <li><a href="#nogo">MegaBloks&reg;</a></li>
              <li><a href="#nogo">Lincoln Log&reg;</a></li>
            </ul>
          </li>
        
          <li><a href="#nogo">Sales and Deals</a></li>
        </ul>
    </div>
    <div id="category-page">
        <h3>Best Seller</h3>
        <div id="hero">
            Hero spot
        </div>

        <h3>Popular</h3>
        <div id="popular-categories" class="categories row">
            <div class="col">
                <div class="nav-block">
                    <h4>2x2 Tall</h4>
                    <img src="/images/###.jpeg" alt="2x2 Tall bricks" />
                    <a href="#nogo" class="button">View 2x2 Tall</a>
                </div>
            </div>
            <div class="col">
                <div class="nav-block">
                    <h4>2x2 Tall</h4>
                    <img src="/images/###.jpeg" alt="2x2 Tall bricks" />
                    <a href="#nogo" class="button">View 2x2 Tall</a>
                </div>
            </div>
            <div class="col">
                <div class="nav-block">
                    <h4>4x2 Tall</h4>
                    <img src="/images/###.jpeg" alt="4x2 Tall bricks" />
                    <a href="#nogo" class="button">View 4x2 Tall</a>
                </div>
            </div>
            <div class="col">
                <div class="nav-block">
                    <h4>2x1 Short</h4>
                    <img src="/images/###.jpeg" alt="2x1 Short bricks" />
                    <a href="#nogo" class="button">View 2x1 Short</a>
                </div>
            </div>
            <div class="col">
                <div class="nav-block">
                    <h4>4x2 Short</h4>
                    <img src="/images/###.jpeg" alt="4x2 Short bricks" />
                    <a href="#nogo" class="button">View 4x2 Short</a>
                </div>
            </div>
            <div class="col">
                <div class="nav-block">
                    <h4>8x2 Short</h4>
                    <img src="/images/###.jpeg" alt="8x2 Short bricks" />
                    <a href="#nogo" class="button">View 8x2 Short</a>
                </div>
            </div>            
        </div>
    </div>
</div>