<!doctype html>  
<html lang="en">
	<head>
        <meta charset="utf-8" />
        
        <title>Change Blindness Test</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width">
		<% if request.path == "/" %>
		<script>
			(function(d, s) {
				var js = d.createElement(s),
				   sc = d.getElementsByTagName(s)[0];
				
				js.src="/js/boomerang/boomerang-0.9.1422480010-debug.js";
				sc.parentNode.insertBefore(js, sc);
			}(document, "script"));
		</script>
		<% end %>
		
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/home.css">
		<!--<script src="/js/vendor/modernizr.js"></script>-->
		<script>var ip_address = "<%= request.ip %>"; </script>
	</head>
	<body>
        <div id="content" class="clearfix">
			<h1>Change Blindness Test</h1>
			<section>
				<%= yield %>
			</section>
        </div>
		<script src="/js/jquery-1.11.2.min.js"></script>
		<script src="/js/cb.js"></script>
		<script src="/js/practice.js"></script>	
	</body>
</html>