<!doctype html>  
<html lang="en">
	<head>
        <meta charset="utf-8" />
        
        <title>Change Blindness Test</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width">
		
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/home.css">
		<!--<script src="/js/vendor/modernizr.js"></script>-->
	</head>
	<body>
        <div id="content" class="clearfix">
			<h1>Change Blindness Test</h1>
			<section>
				<%= yield %>
			</section>
        </div>
		<!--<script src="/js/vendor/jquery.js"></script>-->
		<script src="/js/cb.js"></script>		
	</body>
</html>