<div id="home">
    <div id="hero" class="clearfix">
        <img src="/images/lego-pile.jpeg" alt="Lego pile" />
        <p>
            Clearance sale on 2014 model individual bricks from all manufacturers. <br />
            Mix n' match colors and sizes. As always, free shipping!
            <br />
            <a href="#nogo" class="button">Shop Clearance</a>
        </p>
    </div>
    <h2>Shop By</h2>
    <div class="categories row">
        <div class="col">
            <div class="nav-block">
                <h3>Color</h3>
                <img src="/images/bricks-colored.jpeg" alt="Colored bricks" />
                <a href="#nogo" class="button">View Colors</a>
            </div>
        </div>
        <div class="col">
            <div class="nav-block">
                <h3>Size</h3>
                <img src="/images/lego-bricks-various-sizes.jpeg" alt="Various sized bricks" />
                <a href="#nogo" class="button">View Sizes</a>
            </div>
        </div>
        <div class="col">
            <div class="nav-block">
                <h3>Original Set</h3>
                <img src="/images/lego-bricks-set.jpeg" alt="Lego bricks set" />
                <a href="#nogo" class="button">View Sets</a>
            </div>
        </div>
    </div>
</div>