<p class="instructions">
    Please read the following study details before participating:
</p>
<form method="post" action="/consent">
    <div class="consent-form">
        <p>
            This test is part of a study to determine if the way web pages load causes users to miss visual changes between pages.
            The principal investigator is Michael Head, a graduate student in the School of Information & Library Science at the University of North Carolina at Chapel Hill.
            He can be contacted with questions at mhead@live.unc.edu. The faculty advisor is Todd Barlow, who can be contacted at todd.barlow@sas.com. 
        </p>
        
        <p>
            The test consists of 30 rounds of attentional trials. For each trial, you will be shown a web page for 3 seconds, followed by the same page with one element of the page altered.
            You will have 5 seconds to select the element that changed before the next round. These instructions will appear again before the trials begin. 
        </p>
        
        <p>
            After all 30 trials, you will be asked to answer a few brief questions about your age group and your internet connection speed.
        </p>
        <p>
            No personally identifiable information will be recorded.
        </p>
        <p>
            The test should take about 5-10 minutes, but you may stop taking the test at any time.
        </p>
    </div>
    <p>
        By proceeding, you indicate that you are over 18 years of age and give your consent to participate in this study.
    </p>
    <button type="submit">Begin the Test</button>
</form>