<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"  class=""> <!--<![endif]-->
	<head>
        <meta charset="utf-8" />
        
        <title>Change Blindness Test</title>
		<meta name="viewport" content="width=device-width">
		<% if request.path == "/" %>
			<script src="/js/boomerang/boomerang-0.9.1422480010.js"></script>
		<% end %>
		
		<meta property="og:title" content="Change Blindness Test" /> 
		<meta property="og:type" content="website" /> 
		<meta property="og:url" content="http://cbstudy.info" />
		<meta property="og:description" content="A test that is part of a study to explore change blindness on the web." />		
		
		<link rel="stylesheet" href="/css/normalize.css">
    	<link rel="stylesheet" href="/css/jquery.magnific-popup.css">
		<link rel="stylesheet" href="/css/study.css">
		<!--
			Hi there. Please don't view the source or open the console while taking part in this
			research experiment.
		-->
	</head>
	<body id="practice">
		<noscript>
			<div id="notice">
				Sorry, but JavaScript is required to take part in this experiment. 
			</div>
		</noscript>
        <div id="content" class="clearfix">
			<h1>Change Blindness Test</h1>
			<section>
				<%= yield %>
			</section>
        </div>
		<script src="/js/jquery-1.11.2.min.js"></script>
    	<script src="/js/jquery.magnific-popup.js"></script>
		<script src="/js/study.js"></script>
		<script src="/js/trials.js"></script>
		<% if request.path == "/" %>		
		<script>
			var browser;
			var userAgent = navigator.userAgent;

			if(userAgent.indexOf("Chrome") > -1) {
			    browser = "Google Chrome";
			} else if (userAgent.indexOf("Safari") > -1) {
			    browser = "Apple Safari";
			} else if (userAgent.indexOf("Opera") > -1) {
			    browser = "Opera";
			} else if (userAgent.indexOf("Firefox") > -1) {
			    browser = "Mozilla Firefox";
			} else if (userAgent.indexOf("MSIE") > -1 || userAgent.indexOf("Trident") > -1) {
			    browser = "Microsoft Internet Explorer";
			} else {
				browser = "Other"
			}

			var data = {
			    screen_width: screen.width,
			    screen_height: screen.height,
			    browser_width: window.outerWidth,
			    browser_height: window.outerHeight,
			    pixel_depth: screen.pixelDepth,
			    platform: navigator.platform,
			    language: navigator.language,
			    browser: browser,
			    user_agent: navigator.userAgent
			};

			BOOMR.addVar(data);

			BOOMR.init({
				beacon_url: "/beacon",
			    user_ip: "<%= @@ip_address %>",
				BW: {
					base_url: "/images/boomerang/",
					cookie: "bandwidth"
				}
			});		

			BOOMR.subscribe('before_beacon', function(o) {
				if (typeof o != "undefined") {
					$("#begin-test")
						.removeAttr("disabled")
						.attr("value", "Begin the Test");
					$(".loader").remove();
				} else {
					alert("An error has occurred loading part of the test. Please refresh the page to try again.");
				}
			});
			
			//cache images that will be used in the study
			var images = [
				//Practice images
				"/images/vehicle-hero-flipped.png",
				"/images/car-colored.png"
			];
			
			for (var i = 0; i < images.length; i++) {
				(new Image()).src = images[i];
			}
		</script>
		<% end %>
		
	</body>
</html>