<!doctype html>  
<html lang="en">
	<head>
        <meta charset="utf-8" />
        
        <title><%= @@page_title %></title>
		<meta name="viewport" content="width=device-width">
		
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/trisl.css">
	</head>
	<body>
		<header class="clearfix">
          <div class="company-info">
            <img src="/images/logo-brick.png" alt="Brick Mart logo" />
            <div class="name-and-tagline">
              <h1><%= ORGANIZATION %></h1>
              <div class="subtitle">Individual bricks to complete your collection.</div>
            </div>
          </div>
          <div class="nav-and-promo">
            <div class="promo">Free shipping on all orders!</div>
            <nav>
              <ul>
                  <li><a href="#nogo">Sign Up</a></li>
                  <li><a href="#nogo">Account</a></li>
                  <li><a href="#nogo">Cart</a></li>
                  <li><a href="#nogo">Wish List</a></li>
              </ul>
            </nav>
          </div>
		</header>
        <div id="notification-area">&nbsp;</div>
        <div id="search-and-breadcrumbs" class="clearfix">
          <% if request.path == "/category" %>
            <ul id="breadcrumbs">
              <li><a href="#nogo">Home</a></li>
              <li><a href="#nogo">Category</a></li>
              <li>Bricks</li>
            </ul>
          <% end %>
          <% if request.path == "/product" %>
            <ul id="breadcrumbs">
              <li><a href="#nogo">Home</a></li>
              <li><a href="#nogo">Category</a></li>
              <li><a href="#nogo">Bricks</a></li>
              <li>2x4 Short</li>
            </ul>
          <% end %>
          <% if request.path == "/home" %>
            <ul id="home-nav">
                <li><a href="#nogo">Category</a></li>
                <li><a href="#nogo">Type</a></li>
                <li><a href="#nogo">Manufacturer</a></li>
                <li><a href="#nogo">Sales and Deals</a></li>
            </ul>
          <% end %>            
          <div id="search">
            <input type="text"> <button class="button secondary">Search</button>
          </div>
        </div>
      
        <div id="content" class="clearfix">
          <section>
              <%= yield %>
          </section>
        </div>
		<footer>
          <a href="#nogo">About</a> | <a href="#nogo">Returns and Refunds</a> | <a href="#nogo">Help</a> | <a href="#nogo">Contact Us</a> | <a href="#nogo">Careers</a>
          <div id="copyright">&copy; <%= ORGANIZATION %></div>
		  
		</footer>
		<script src="/js/trials.js"></script>		
	</body>
</html>