<!doctype html>  
<html lang="en">
	<head>
        <meta charset="utf-8" />
        
        <title>Change Blindness Test</title>
		<meta name="viewport" content="width=device-width">
		<% if request.path == "/" %>
		<script>var ip_address = "<%= request.ip %>";</script>
		<script src="/js/boomerang/boomerang-0.9.1422480010-debug.js"></script>
		<% end %>
		
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/home.css">
		<!--
			Hi there. Please don't view the source or open the console while taking part in this
			research experiment.
		-->
	</head>
	<body>
		<noscript>
			<div id="notice">
				Sorry, but JavaScript is required to take part in this experiment. 
			</div>
		</noscript>
        <div id="content" class="clearfix">
			<h1>Change Blindness Test</h1>
			<section>
				<%= yield %>
			</section>
        </div>
		<script src="/js/jquery-1.11.2.min.js"></script>
		<script src="/js/trials.js"></script>
		<script src="/js/practice.js"></script>
		<% if request.path == "/" %>		
		<script>
			BOOMR.subscribe('before_beacon', function(o) {
				if (typeof o != "undefined") {
					$("#begin-test")
						.removeAttr("disabled")
						.attr("value", "Begin the Test");
					$(".loader").remove();
				}
			});
			
			//cache images that will be used in the study
			var images = [
				//Practice images
				"/images/vehicle-hero-flipped.png",
				"/images/car-colored.png",
				
				//Trial images
				"/images/lego-bricks-set-2.jpeg",
				"/images/logo-brick-2.png",
				"/images/1x4-tall-flipped.png",
				"/images/1x6-short-flipped.png",
				"/images/2x4-short-red.png"
			];
			
			for (var i = 0; i < images.length; i++) {
				(new Image()).src = images[i];
			}
		</script>
		<% end %>
		
	</body>
</html>