<div id="step1" class="step">
    <h2>Practice</h2>
    <p>
        Before beginning the actual change blindness test, we'll practice selecting an area that changes in a sample page. <br />
        <a href="/practice/2" class="button">Continue to Practice Instructions</a>
    </p>
</div>