<div id="product">
    <h2>2x4 Short Brick</h2>
    <div class="row">
        <div id="product-image">
            <img src="/images/2x4-short-hero.png" alt="2x4 Short brick" />
            <ul id="colors">
                <li class="white">White</li>
                <li class="red">Red</li>
                <li class="blue">Blue</li>
                <li class="green">Green</li>
                <li class="active black">Black</li>
            </ul>
        </div>
        <div id="product-info">
            <div class="info">
                <h3>2x4 Short Brick</h3>
                <h4>Lego Brick 39479</h4>
                <ul>
                    <li>Fits standard Lego&reg; bricks and all Lego&reg;-compatible bricks</li>
                    <li>Available in various colors</li>
                    <li>Ships internationally</li>
                </ul>
            </div>
            <div class="promo">Free shipping!</div>
            <div class="price">
                <span class="label">Price: </span> <span class="price-each">$0.39/each</span>
            </div>
            <div class="quantity">
                <label for="quantity">Quantity:</label> <input id="quantity" type="text"><br />
                <span class="label">(39 available)</span>
            </div>
            <div class="add-to-cart">
                <% if request.params["r"] && request.params["l"] == "3" %>
                    <a id="location-3" href="#nogo" class="button">Put in Cart</a>
                <% else %>
                    <a id="location-3" href="#nogo" class="button">Add to Cart</a>
                <% end %>
                <br />
                <a href="#nogo" class="button secondary">Add to Wishlist</a>
            </div>
        </div>
    </div>
    <h5>Customers Also Viewed</h5>
    <div id="also-viewed" class="row">
        <div class="col">
            <div class="nav-block">
                <h4>1x6 Short</h4>
                <% if request.params["r"] && request.params["l"] == "5" %>
                    <img id="location-5" src="/images/1x6-short-flipped.png" alt="1x6 Short bricks" />
                <% else %>
                    <img id="location-5" src="/images/1x6-short.png" alt="1x6 Short bricks" />
                <% end %>
                <a href="#nogo" class="button">View 1x6 Short</a>
            </div>
        </div>
        <div class="col">
            <div class="nav-block">
                <h4>2x8 Tall</h4>
                <% if request.params["r"] && request.params["l"] == "4" %>
                    <img id="location-4" src="/images/2x8-tall-gray.png" alt="2x8 Tall bricks" />
                <% else %>
                    <img id="location-4" src="/images/2x8-tall-green.png" alt="2x8 Tall bricks" />
                <% end %>
                <a href="#nogo" class="button">View 2x8 Tall</a>                
            </div>
        </div>
        <div class="col">
            <div class="nav-block">
                <h4>2x8 Short</h4>
                <img src="/images/2x8-short.png" alt="2x8 Short bricks" />
                <a href="#nogo" class="button">View 2x8 Short</a>
            </div>
        </div>    
    </div>
</div>