<div id="product">
    <h2>2x4 Short Brick</h2>
    <div class="row">
        <div id="product-image">
            <img src="/images/2x4-short.png" alt="2x4 Short brick" />
            <ul id="colors">
                <li class="active white">White</li>
                <li class="red">Red</li>
                <li class="blue">Blue</li>
                <li class="green">Green</li>
                <li class="black">Black</li>
            </ul>
        </div>
        <div id="product-info">
            <div class="info">
                <h3>2x4 Short Brick</h3>
                <h4>Lego Brick 39479</h4>
                <ul>
                    <li>Fits standard Lego&reg; bricks and all Lego&reg;-compatible bricks</li>
                    <li>Available in various colors</li>
                    <li>Ships internationally</li>
                </ul>
            </div>
            <div class="promo">Free shipping!</div>
            <div class="price">
                <span class="label">Price: </span> <span class="price-each">$0.39/each</span>
            </div>
            <div class="quantity">
                <label for="quantity">Quantity:</label> <input id="quantity" type="text"><br />
                <span class="label">(39 available)</span>
            </div>
            <div class="add-to-cart">
                <button class="button">Add to Cart</button><br />
                <button class="button secondary">Add to Wishlist</button>
            </div>
        </div>
    </div>
    <h5>Customers Also Viewed</h5>
    <div id="also-viewed" class="row">
        <div class="col">
            <div class="nav-block">
                <h4>2x2 Tall</h4>
                <img src="/images/2x2-tall.png" alt="2x2 Tall bricks" />
                <a href="#nogo" class="button">View 2x2 Tall</a>
            </div>
        </div>
        <div class="col">
            <div class="nav-block">
                <h4>2x4 Tall</h4>
                <img src="/images/2x4-tall.png" alt="2x4 Tall bricks" />
                <a href="#nogo" class="button">View 2x4 Tall</a>
            </div>
        </div>
        <div class="col">
            <div class="nav-block">
                <h4>1x6 Tall</h4>
                <img src="/images/1x6-tall.png" alt="1x6 Tall bricks" />
                <a href="#nogo" class="button">View 1x6 Tall</a>
            </div>
        </div> 
    </div>
</div>