<h2>Test Complete</h2>
<p>
    Thank you for taking the time to participate in this test.<br />
    Please copy the following completion code into Mechanical Turk to get credit for completing the test:
    <br />
    <span id="mt-code"><%= @mechanical_turk_code %></span>
</p>