<h2>Start the Test</h2>
<p>
    As a reminder, there are 30 trials. Each trial consists of:
    <ol>
        <li>A page loads and is visible for 3 seconds.</li>
        <li>Something on the page will change.</li>
        <li>You have 5 seconds to pick the element that changed by clicking on it.</li>
    </ol>
</p>
<a href="/trial" class="button">Start Test</a>