<h2>Start the Test</h2>
<p>
    As a reminder, there are 30 trials. Each trial consists of:
    <ol>
        <li>You will be shown a web page.</li>
        <li>After 3 seconds, one of the elements on the page will change. For example, text may change or an image may change.</li>
        <li>You have 5 seconds to select the element that changed.</li>
        <li>Select the element that changed by clicking on it.</li>
        <li>If you do not select an element, the study will continue.</li>
    </ol>    
</p>
<a href="/trial" class="button">Continue to First Trial</a>